.messageContainer {
  max-width: 70%;
}

.imgPlaceholder {
  width: 36px;
  height: 36px;
}

.dateTime {
  font-size: 10px;
}

.update {
  & > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  header {
    font-size: 10px;
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
